- content_for :title do
  = "Правка — #{@content.title || @content.path}"

%article.edit-content
  %h1
    Изменение страницы
    - if @content.title
      «<a href="#{@content.path}">#{@content.title}</a>»

  .page
    = form_tag @content.path, method: :put do
      %textarea( name="text" )= @content.versions.last.try(:text)
  
- content_for :controls do
  .page-controls.edit-content
    %a.styled-button( href="#" role="save-content" )
      %span Сохранить
    %a.cancel{ href: @content.path } Отмена
