- title "Правка — #{@content.title || @content.path}"

%article.page.edit-content
  %h1
    Изменение
    - if @content.root?
      главной страницы
    - else
      страницы
      - if @content.title
        «<a href="#{@content.path}">#{@content.title}</a>»

  = form_tag @content.path, method: :put do
    %textarea( name="text" role="content-textarea" )= @content.versions.last.try(:text)

- content_for :controls do
  .page-controls.edit-content
    = button('Сохранить', role: 'save-content')
    %a.cancel{ href: @content.path } Отмена
