- title @version.title if @version.title

- content_for :head do
  - if @version.keywords
    %meta{ name: 'keywords', content: @version.keywords }
  - if @version.description
    %meta{ name: 'description', content: @version.description }

%article.page
  %h1
    = @version.title
    - unless @version.last?
      .old старая версия
  = @version.html.html_safe

- if signed_in?
  - content_for :controls do
    .page-controls
      = shadowed_button('Изменить', href: edit_content_path(@content))
      
      - unless @content.root?
        = form_tag @content.path, method: :delete, class: 'delete-content' do
          = shadowed_button('Удалить', role: 'submit')
      
      .history
        %h2 История ↓
        %ol
          - @content.versions.reverse_each do |i|
            %li{ class_if('current', @version == i), class_if('last', i.last?) }
              .number #{i.version}.
              %a{ href: i.last? ? request.path : "?version=#{i.version}" }
                = l i.created_at, :human
              %span.author= i.author.title
