- content_for :title do
  = @version.title

- content_for :head do
  - if @version.keywords
    %meta{ name: 'keywords', content: @version.keywords }
  - if @version.description
    %meta{ name: 'description', content: @version.description }

%article
  %h1= @version.title
  .page
    = @version.html.html_safe

- if signed_in?
  - content_for :controls do
    .edit-content
      .shadowed-button
        %a.styled-button{ href: edit_content_path(@content) }
          %span Изменить
      .history
        %h2 Версии
        %ul
          %li
            = link_to 'Последняя', '?'
          - @content.versions.reverse_each do |version|
            %li
              = link_to version.version, "?version=#{version.version}"
