- content_for :title do
  = @version.title

- content_for :head do
  - if @version.keywords
    %meta{ name: 'keywords', content: @version.keywords }
  - if @version.description
    %meta{ name: 'description', content: @version.description }

%article
  %h1
    = @version.title
    - if @version != @content
      .old старая версия
  .page
    = @version.html.html_safe

- if signed_in?
  - content_for :controls do
    .page-controls
      .shadowed-button
        %a.styled-button{ href: edit_content_path(@content) }
          %span Изменить
      
      - unless @content.root?
        = form_tag @content.path, method: :delete, class: 'delete-content' do
          .shadowed-button
            %a.styled-button( href="#" role="submit" )
              %span Удалить
      
      .history
        %h2 История ↓
        %ol
          - (@content.versions + [@content]).reverse_each do |i|
            %li{ class_if('current', @version == i), class_if('last', @content == i) }
              .number #{i.version}.
              %a{ href: @content == i ? request.path : "?version=#{i.version}" }
                = l i.updated_at, :human
              %span.author= i.author.title
