- content_for :title do
  Редакторы

%article.page
  %h1 Редакторы

  %ul
    - @users.each do |user|
      %li
        - if signed_in?
          = form_for user do |f|
            = f.text_field  :name,  placeholder: 'Имя'
            = f.email_field :email, placeholder: 'Эл. почта'
            = f.text_field  :role,  placeholder: 'Сфера деятельности'
            = submit_tag 'Изменить'
          - unless user.confirmed?
            ни разу не входил
          = form_tag request_auth_user_path(user) do
            = submit_tag 'Изменить способ входа'
          - if user != current_user
            = form_for user, method: :delete do
              = submit_tag 'Удалить'
        - else
          = user.name

  - if signed_in?
    = form_for User.new do |f|
      = f.text_field  :name,  placeholder: 'Имя'
      = f.email_field :email, placeholder: 'Эл. почта'
      = f.text_field  :role,  placeholder: 'Сфера деятельности'
      = submit_tag 'Добавить'
