- title 'Редакторы'

%article.page.users
  %h1 Редакторы

  %ul
    - @users.each do |user|
      %li
        .edit
          = form_for user do |f|
            = f.email_field :email, placeholder: 'Эл. почта', required: true
            = f.text_field  :name,  placeholder: 'Имя'
            = f.text_field  :role,  placeholder: 'Сфера деятельности'
            = submit_button('Сохранить', role: 'save-user')
        .controls( role="user-controls" )
          = form_tag request_auth_user_path(user) do
            - if user.confirmed?
              - if user == current_user
                - title = 'Привязать к другому аккаунту'
              - else
                - title = 'Отправить письмо с ссылкой, чтобы привязать другой аккаунт'
              = submit_button('Сменить вход', title: title)
            - else
              = submit_button('Пригласить ещё раз', title: 'Повторно выслать приглашение, чтобы привязать аккаунт')
          - if user != current_user
            = form_for user, method: :delete do
              = shadowed_button('Удалить', role: 'delete-user')

  %h2 Новый пользователь
  = form_for User.new do |f|
    = f.email_field :email, placeholder: 'Эл. почта'
    = f.text_field  :name,  placeholder: 'Имя'
    = f.text_field  :role,  placeholder: 'Сфера деятельности'
    = submit_button('Пригласить')
