- title 'Редакторы'

%article.page.users
  %h1 Редакторы

  %ul
    - @users.each do |user|
      %li
        .edit
          = form_for user do |f|
            = f.email_field :email, placeholder: 'Эл. почта', required: true
            = f.text_field  :name,  placeholder: 'Имя'
            = f.text_field  :role,  placeholder: 'Сфера деятельности'
            %a.styled-button( href="#" role="submit" )
              %span Сохранить
        .controls
          = form_tag request_auth_user_path(user) do
            - if user.confirmed?
              - if user == current_user
                - title = 'Привязать к другому аккаунту для входа на сайт'
              - else
                - title = 'Отправить письмо с ссылкой, чтобы привязать другой аккаунт для входа на сайт'
              %a.styled-button( href="#" role="submit" title="#{title}" )
                %span Сменить вход
            - else
              %a.styled-button( href="#" role="submit" title="Повторно выслать приглашение, чтобы привязать аккаунт для выхода на сайт" )
                %span Пригласить ещё раз
          - if user != current_user
            = form_for user, method: :delete, html: { role: 'delete' } do
              .shadowed-button
                %a.styled-button( href="#" )
                  %span Удалить
      
  %h2 Новый пользователь
  = form_for User.new do |f|
    = f.email_field :email, placeholder: 'Эл. почта'
    = f.text_field  :name,  placeholder: 'Имя'
    = f.text_field  :role,  placeholder: 'Сфера деятельности'
    %a.styled-button( href="#" role="submit" )
      %span Пригласить
