!!! 5
%html
  %head
    %title Кафедра РИС
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    
    = yield
    
    %div= 'Unknown ' + flash[:wrong_user] if flash[:wrong_user]
    %div= 'Error '   + flash[:wrong_auth] if flash[:wrong_auth]
    - if signed_in?
      = current_user.email
      = form_tag session_path, method: :delete do
        = submit_tag 'Выход'
    - else
      %a( href="/auth/google" ) Войти через Google
