!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    %title
      - @title = yield :title
      - if @title.blank?
        Кафедра РИС
      - else
        = @title + ' — Кафедра РИС'
    
    = enable_html5_for_ie
    
    = include_fonts
    = stylesheet_link_tag 'application'
    - if signed_in?
      = stylesheet_link_tag 'user'
    
    = include_jquery
    = javascript_include_tag 'application'
    - if signed_in?
      = javascript_include_tag 'user'
      = csrf_meta_tags
    
    = yield :head
    
    - if Rails.env.production?
      = render 'shared/counter'
  %body
    - [:error, :alert, :notice].each do |type|
      - if flash[type]
        .flash{ class: type }
          %div= flash[type]
      
    #root
      #subroot
        = render 'shared/menu'
      
        = yield
      
      #root_footer
    
    - if signed_in?
      = render 'shared/controls'
    - else
      = render 'shared/signin'
    = render 'shared/footer'
