!!! 5
%html
  %head
    %title Кафедра РИС
    = enable_html5_for_ie
    
    = include_fonts
    = stylesheet_link_tag 'application'
    
    = include_jquery
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    = render 'shared/counter' if Rails.env.production?
  %body
    - [:error, :alert, :notice].each do |type|
      - if flash[type]
        .flash{ class: type }
          = flash[type]
      
    #root
      #subroot
        = render 'shared/menu'
      
        = yield
      
      #root_footer
    
    = render 'shared/administration'
    = render 'shared/footer'
